@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Totale Verbali e Decur. Punti";
}

<h1 class="mt-5 text-center">Totale Verbali e Decurtazione Punti</h1>
<p class="mb-3">Suddivisi per trasgressore.</p>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Nome</th>
            <th scope="col">Cognome</th>
            <th scope="col">Codice Fiscale</th>
            <th scope="col">Totale Verbali</th>
            <th scope="col">Totale Punti Decurtati</th>
        </tr>
    </thead>

    <tbody>

        @foreach (var row in Model)
        {
        <tr>
            <td scope="row">@row["Nome"]</td>
                <td>@row["Cognome"]</td>
                <td>@row["CodiceFiscale"]</td>
                <td>@row["TotaleVerbali"]</td>
                <td>@row["PuntiDecurtati"]</td>
        </tr>
            
        }
    </tbody>
</table>